VITE_FIREBASE_API_KEY=여기에_API_KEY_입력
VITE_FIREBASE_AUTH_DOMAIN=byeo-rak.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=byeo-rak
VITE_FIREBASE_STORAGE_BUCKET=byeo-rak.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=여기에_SENDER_ID_입력
VITE_FIREBASE_APP_ID=여기에_APP_ID_입력
